name: Release

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release-linux:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: 'oracle'
        java-version: '25'
        cache: 'gradle'
    - uses: gradle/actions/wrapper-validation@v4
    - name: Release with Gradle
      run: ./gradlew githubRelease -PgithubAccessToken=${{ secrets.GITHUB_TOKEN }}
  release-windows:
    runs-on: windows-latest
    timeout-minutes: 15
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: 'oracle'
        java-version: 25
        cache: 'gradle'
    - name: Release with Gradle
      run: ./gradlew githubRelease -PgithubAccessToken=${{ secrets.GITHUB_TOKEN }}
  release-mac:
    runs-on: macOS-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'oracle'
          java-version: 25
          cache: 'gradle'
      - name: Release with Gradle
        run: ./gradlew githubRelease -PgithubAccessToken=${{ secrets.GITHUB_TOKEN }}